{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FoodInCampus</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css"> <!--href="css/bootstrap.min.css"-->

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='{% static "font-awesome/css/font-awesome.min.css" %}' type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href='{% static "css/animate.min.css" %}' type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href='{% static "css/creative.css" %}' type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">&nbsp;Food In Campus</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#num1">Line1</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#num2">Line2</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#num4">Line4</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#num6">Line6</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Food In Campus
                <p>인스타그램 해시태그 기반 대학별 맛집 추천 서비스</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">START</a>
            </h1>
                
                
                </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">FoodInCampus 푸딘캠</h2>
                    <hr class="light">
                    <p class="text-faded">매분 매초마다 인스타그램에 많은 정보들이 쌓이고 있습니다. <br>푸딘캠은 사람들이 인스타그램을 통해 공유하는 수많은 맛집 게시물들을 <br>크롤링, 딥러닝을 통해 대학별로 분류하고 추천합니다.<br></p>
                    <a href="#num1" class="btn btn-default btn-xl page-scroll">Let's Start!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                
                    <h2 class="section-heading">푸딘캠 지하철 노선별 대학 맛집</h2>
                    <hr class="primary">
                    <br>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-subway wow bounceIn text-primary1"></i>
                        <h3>1호선 대학</h3>
                        
                        <p class="text-muted">광운대<br>한국외대<br>경희대<br>서울시립대</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-subway wow bounceIn text-primary2" data-wow-delay=".1s"></i>
                        <h3>2호선 대학</h3>
                        <p class="text-muted">서울대<br>홍익대<br>연세대<br>이화여대<br>한양대<br>건국대</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-subway wow bounceIn text-primary4" data-wow-delay=".2s"></i>
                        <h3>4호선 대학</h3>
                        <p class="text-muted">덕성여대<br>국민대<br>성신여대<br>한성대<br>숙명여대</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-subway wow bounceIn text-primary6" data-wow-delay=".3s"></i>
                        <h3>6호선 대학</h3>
                        <p class="text-muted">고려대<br>동덕여대<br>서울여대<br>서강대</p>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>

    <section class="bg-primary1" id="num1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading2">1호선 대학 맛집</h2>
                    <hr class="light">
                    <p class="text-faded">사진 클릭시 해당 인스타그램 게시물로 연결됩니다.</p>
                    <a href="#kw_food" class="btn btn-default btn-xl page-scroll">광운대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#hufs_food" class="btn btn-default btn-xl page-scroll">한국외대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#khu_food" class="btn btn-default btn-xl page-scroll">경희대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#uos_food" class="btn btn-default btn-xl page-scroll">서울시립대</a>
                </div>
            </div>
        </div>
    </section>

    
    

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            
             <br>
                <div class="bg-primary1" id="kw_food">
                <br>
                <div class="text-center"><a href="#kw_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp광운대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>
            
            {% for product in kw %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary1" id="hufs_food">
                <br>
                <div class="text-center"><a href="#hufs_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp한국외대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in hufs %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}
             
             <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary1" id="khu_food">
                <br>
                <div class="text-center"><a href="#khu_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp경희대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in khu %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}
            
            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary1" id="uos_food">
                <br>
                <div class="text-center"><a href="#uos_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp서울시립대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in uos %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            </div>
    </section>

    <section class="bg-primary2" id="num2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading2">2호선 대학 맛집</h2>
                    <hr class="light">
                    <p class="text-faded">사진 클릭시 해당 인스타그램 게시물로 연결됩니다.</p>
                    <a href="#snu_food" class="btn btn-default btn-xl page-scroll">서울대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#hu_food" class="btn btn-default btn-xl page-scroll">홍익대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#yon_food" class="btn btn-default btn-xl page-scroll">연세대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#ewha_food" class="btn btn-default btn-xl page-scroll">이화여대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#hy_food" class="btn btn-default btn-xl page-scroll">한양대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#ku_food" class="btn btn-default btn-xl page-scroll">건국대</a>
                </div>
            </div>
        </div>
    </section>

    <br>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary2" id="snu_food">
                <br>
                <div class="text-center"><a href="#snu_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp서울대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>
            {% for product in snu %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary2" id="hu_food">
                <br>
                <div class="text-center"><a href="#hu_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp홍대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>
            {% for product in hu %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary2" id="yon_food">
                <br>
                <div class="text-center"><a href="#yon_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp연세대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in yon %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary2" id="ehwa_food">
                <br>
                <div class="text-center"><a href="#ewha_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp이화여대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in ewha %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary2" id="hy_food">
                <br>
                <div class="text-center"><a href="#hy_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp한양대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in hy %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary2" id="ku_food">
                <br>
                <div class="text-center"><a href="#ku_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp건국대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in ku %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            </div>
    </section>

    <section class="bg-primary4" id="num4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading2">4호선 대학 맛집</h2>
                    <hr class="light">
                    <p class="text-faded">사진 클릭시 해당 인스타그램 게시물로 연결됩니다.</p>
                    <a href="#dswu_food" class="btn btn-default btn-xl page-scroll">덕성여대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#kmu_food" class="btn btn-default btn-xl page-scroll">국민대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#sswu_food" class="btn btn-default btn-xl page-scroll">성신여대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#hsu_food" class="btn btn-default btn-xl page-scroll">한성대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#sook_food" class="btn btn-default btn-xl page-scroll">숙명여대</a></div>
            </div>
        </div>
    </section>

    <br>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary4" id="dswu_food">
                <br>
                <div class="text-center"><a href="#dswu_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp덕성여대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>
            {% for product in dswu %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary4" id="kmu_food">
                <br>
                <div class="text-center"><a href="#kmu_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp국민대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in kmu %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary4" id="sswu_food">
                <br>
                <div class="text-center"><a href="#sswu_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp성신여대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in sswu %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary4" id="hsu_food">
                <br>
                <div class="text-center"><a href="#hsu_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp한성대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in hsu %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary4" id="sook_food">
                <br>
                <div class="text-center"><a href="#sook_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp숙명여대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in sook %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            </div>
    </section>

        <section class="bg-primary6" id="num6">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading2">6호선 대학 맛집</h2>
                    <hr class="light">
                    <p class="text-faded">사진 클릭시 해당 인스타그램 게시물로 연결됩니다.</p>
                    <a href="#kor_food" class="btn btn-default btn-xl page-scroll">고려대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#ddwu_food" class="btn btn-default btn-xl page-scroll">동덕여대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#swu_food" class="btn btn-default btn-xl page-scroll">서울여대</a>&nbsp;&nbsp;&nbsp;
                    <a href="#sgu_food" class="btn btn-default btn-xl page-scroll">서강대</a></div>
            </div>
        </div>
    </section>

    <br>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary6" id="kor_food">
                <br>
                <div class="text-center"><a href="#kor_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp고려대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>
            {% for product in kor %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary6" id="ddwu_food">
                <br>
                <div class="text-center"><a href="#ddwu_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp동덕여대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in ddwu %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary6" id="swu_food">
                <br>
                <div class="text-center"><a href="#swu_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp서울여대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>

            <br>

            {% for product in swu %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            <div class="col-lg-12 text-center">
                <br>
                <div class="bg-primary6" id="sgu_food">
                <br>
                <div class="text-center"><a href="#sgu_food" class="btn btn-default page-scroll">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp서강대 맛집 BEST 8&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <br><br></div>
                </div>
            <br>

            {% for product in sgu %}
                <div class="col-lg-3 col-sm-6">
                    <a href="{{product.cur_url}}" class="portfolio-box">
                        
                        <img src="{{product.img_path}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    좋아요 {{product.like_num}}개
                                </div>
                                <div class="project-name">
                                    {{product.univ}}
                                </div>
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            {% endfor %}

            </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Enjoy Food In Campus!</h2>
                <a href="#" class="btn btn-default btn-xl wow tada page-scroll">Go to top!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">2020 정보융합학부 1기 졸업작품</h2>
                    <hr class="primary">
                    <p>콘텐츠테크놀로지전공 2017204040 오유경<br>데이터사이언스전공 2017204028 김예권</p>
                    <br>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-instagram fa-3x wow bounceIn"></i>
                    <p><a href="https://www.instagram.com/oyk4017/"><br>@oyk4017&nbsp;&nbsp;<a href="https://www.instagram.com/exousiak/">@exousiak</p>
                    
                </div>


                
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:oyk4017@naver.com"><br>oyk4017@naver.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src='{% static "js/jquery.js"%}'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "js/bootstrap.min.js" %}'></script>

    <!-- Plugin JavaScript -->
    <script src='{% static "js/jquery.easing.min.js" %}'></script>
    <script src='{% static "js/jquery.fittext.js" %}'></script>
    <script src='{% static "js/wow.min.js"%}'></script>

    <!-- Custom Theme JavaScript -->
    <script src='{% static "js/creative.js" %}'></script>

</body>

</html>
